---
export interface Props {}
---

<div class="flex gap-10 w-full h-full mx-auto max-w-screen-lg flex-wrap">
	<aside class="bg-white p-4 h-full rounded-lg mt-10 font-light ml-4">
		<ul>
			<li>
				<a href={import.meta.env.PROD ? "/pc-vn/" : "/"}>Home</a>
			</li>
			<li>
				<a href={import.meta.env.PROD ? "/pc-vn/install" : "/install"}>Installation</a>
			</li>
			<li>
				<a href={import.meta.env.PROD ? "/pc-vn/provinces" : "/provinces"}>Provinces</a>
			</li>
			<li>
				<a href={import.meta.env.PROD ? "/pc-vn/districts" : "/districts"}>Districts</a>
			</li>
			<li>
				<a href={import.meta.env.PROD ? "/pc-vn/wards" : "/wards"}>Wards</a>
			</li>
		</ul>
	</aside>
	<slot />
</div>

<style>
</style>
