---
import { Content as DistrictContent, frontmatter } from "../contents/district.mdx";
import BaseLayout from "../layouts/BaseLayout.astro";
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <DashboardLayout>
        <main class="mx-auto">
            <article>
                <h1 class="text-4xl mb-3 font-bold">
                    District
                </h1>
                <DistrictContent />
            </article>
        </main>
    </DashboardLayout>
</BaseLayout>