---
import { Content as InstallContent, frontmatter } from "../contents/installation.mdx";
import BaseLayout from "../layouts/BaseLayout.astro";
import DashboardLayout from "../layouts/DashboardLayout.astro";
import { Content as PackageTabContent } from "../contents/package-tablist.mdx";
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <DashboardLayout>
        <main class="mx-auto">
            <article>
                <h1 class="text-4xl mb-3 font-bold">
                    Installation
                </h1>
                <PackageTabContent />
                <p class="mt-3">
                    Run one of these commands to add <u class="decoration-dashed decoration-pink-300 decoration-3">@do-kevin/pc-vn</u> package to your project.
                </p>
            </article>
        </main>
    </DashboardLayout>
</BaseLayout>

<style lang="scss">
    #installation {
        @apply text-2xl font-bold;
    }
</style>