---
import { Content as ProvinceContent, frontmatter } from "../contents/province.mdx";
import BaseLayout from "../layouts/BaseLayout.astro";
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <DashboardLayout>
        <main class="mx-auto">
            <article>
                <h1 class="text-4xl mb-3 font-bold">
                    Province
                </h1>
                <ProvinceContent />
                                <section>
                    <h2 class="text-2xl mt-6 font-bold">
                        API
                    </h2>
                    <table class="w-full text-sm text-left mt-4">
                        <thead class="text-left text-xs text-white uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="rounded-tl px-6 py-3 bg-slate-500">Function</th>
                                <th scope="col" class="px-6 py-3 bg-slate-500">Description</th>
                                <th scope="col" class="px-6 py-3 bg-slate-500">Parameter</th>
                                <th scope="col" class="px-6 py-3 bg-slate-500">Type</th>
                                <th scope="col" class="rounded-tr px-6 py-3 bg-slate-500">Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b">
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap w-full">getProvinces</td>
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap w-full">Retrieve lists of provinces.</td>
                                <td></td>
                                <td></td>
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap w-full">Province[]</td>
                            </tr>
                            <tr class="bg-white rounded-b">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap w-full">Province</td>
                                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap w-full">
                                    <code>
                                        <span class="block">
                                            &lcub;
                                        </span>
                                        <span class="block">
                                            &nbsp;&nbsp;code: string;
                                        </span>
                                        <span class="block">
                                            &nbsp;&nbsp;name: string;
                                        </span>
                                        <span class="block">
                                            &nbsp;&nbsp;unit: string;
                                        </span>
                                        <span class="block">
                                            &rcub;
                                        </span> 
                                    </code>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </article>
        </main>
    </DashboardLayout>
</BaseLayout>