---
import { Content as WardContent, frontmatter } from "../contents/ward.mdx";
import BaseLayout from "../layouts/BaseLayout.astro";
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<BaseLayout title={frontmatter.title} description={frontmatter.description} sidebar>
    <DashboardLayout>
        <main class="mx-auto p-4">
            <article>
                <WardContent />
            </article>
        </main>
    </DashboardLayout>
</BaseLayout>

<style lang="scss">
    pre {
        @apply mb-6;
        border: 3px solid red !important;
    }
</style>